[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"], version = "*"}
djangorestframework = "*"
drf-yasg = "*"
django-cors-headers = "*"
django-environ = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
yapf = "*"
isort = "*"
rope = "*"

[requires]
python_version = "3.9"
